{% extends "base.html" %}

{% block head %}
<meta name="description" content="SAS:ZA4 Blog">
<meta name="keywords" content="SAS, ZA4, blog">
{% endblock %}

{% block title %}SAS:ZA4 Blog{% endblock %}

{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            {% for post in posts %}
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{{ url_for('za4_show_post', id=post.id) }}">
                <!--<a href="#">-->
                    <h2 class="post-title">{{ post.title }}</h2>
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                </a>
                <p class="post-meta">
                    Posted by {{ post.author }}
                    <!--<a href="#!">Start Bootstrap</a>-->
                    on {{ post.date }}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}

            <!-- New Post -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="{{ url_for('za4_create_post') }}">Create New Post</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}