{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}

{% block head %}
<meta name="description" content="This is the Homepage">
<meta name="keywords" content="TJE, Total Jim Experience, homepage, welcome">
{% endblock head %}

{% block title %}TJE: Create Your Post{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='body') }}
            {{ wtf.render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </div>
    </div>
</div>

<script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
{% endblock content %}