{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}

{% block head %}
{% if is_edit %}
    <meta name="description" content="Edit a Post">
    <meta name="keywords" content="TJE, Total Jim Experience, edit">
{% else %}
    <meta name="description" content="Create a Post">
    <meta name="keywords" content="TJE, Total Jim Experience, create">
{% endif %}
{% endblock head %}

{% block title %}
{% if is_edit %}
    TJE: Edit Your Post
{% else %}
    TJE: Create Your Post
{% endif %}
{% endblock title %}




{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='body') }}
            {{ wtf.render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </div>
    </div>
</div>

<script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
{% endblock content %}